h1 {
	font-size: 50px;
}
.player div {
	float: left;
	padding: 15px;
}
.player-name {
	font-size: 30px;
}
.player-name.me {
	font-weight: bold;
}
.choice {
	margin: 5px;
}
.choice.selected {
	background: #393;
}
.choice.selected:hover {
	background: #3C3;
}
.score {
	font-size: 30px;
}